body {
    background: url("../images/black.jpg") no-repeat center center/cover;
    height: 1500px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 2;
    color: aliceblue;
    overflow-x: hidden;
    text-align: center;
}

.jumbotron {
    text-align: center;
    color: coral;
}

h2 {
    color: cornflowerblue;
}

.panel {
    color: white;
}

.card-footer {
    background-color: black;
    text-align: center;
    color:red;
}

.panel-heading1 {
    font-size: x-large;
    color: burlywood;
}

.panel-heading2 {
    font-size: x-large;
    color: burlywood;
}

.panel-heading3 {
    font-size: x-large;
    color: burlywood;
}
